@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');


.subtitulo {
    font-family: 'Times New Roman', sans-serif;
    color: #fffffe;
}

* {
    font-family: "Signika", Helvetica, sans-serif;
    background-color: #232946;
    color: #b8c1ec
}

h1 {
    font-family: Georgia, serif;
    color: #fffffe;
}

#experiencia {
    font-weight: normal;
}

button {
    background-color: #eebbc3;
    color: #232946;
}

#ubicacion {
    margin: 0 0;
    padding: 0 0;
    border: 1pt solid white;
}
